/* ------------------ Mobile layout ---------------------- */

/* Reset browser's default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  color: white;
}

/* Navbar */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

header .desktop {
  display: none;
}

input#menu {
  display: none;
}

label.hamburger {
  cursor: pointer;
}

label.hamburger::before {
  content: '\2630';
}

input#menu:checked + label.hamburger::before {
  content: '\2715';
}

input#menu ~ ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 270px;
  padding: 15px;
  list-style: none;
}

input#menu:checked ~ ul {
  display: block;
}

input#menu ~ ul li {
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
}

input#menu ~ ul li.sign-in {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  background-color: #43d29e;
  border-radius: 5px;
  color: white;
}

input#menu ~ ul li.sign-up {
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #43d29e;
  border-radius: 5px;
  color: #43d29e;
}

/* Title section */
.title-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 660px;
  background-image: linear-gradient(rgb(185, 185, 185), rgb(185, 185, 185)),
    url('/images/title.jpg');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10px 20px;
}

.description p {
  font-size: 17px;
  font-style: italic;
  color: white;
  margin: 20px 0;
}

.feature-article {
  width: 100%;
  overflow-y: auto;
}

.article-small {
  display: flex;
  width: 270px;
  height: 74px;
}

.article-small + hr {
  width: 90%;
  opacity: 0.3;
}

.article-image {
  width: 62px;
  height: 62px;
  flex: 0 0 auto;
  margin-right: 10px;
}

.article-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category {
  font-size: 14px;
  font-weight: bold;
  color: #43d29e;
}

.title-small {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: white;
}

/* Recommended section */
.recommended {
  padding: 10px 10px 50px;
}

.recommended h2 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  color: #3a405b;
}

.recommended-category {
  text-align: center;
  margin: 20px 0;
}

.recommended-category span {
  cursor: pointer;
  padding: 0 10px 5px;
  color: #a1a6bb;
}

.recommended-category span.active {
  color: #304351;
  font-style: italic;
  border-bottom: 2px solid #43d29e;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card {
  width: 343px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}

.article-card.desktop {
  display: none;
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.article-card h3 {
  font-size: 21px;
  margin-bottom: 15px;
}

.article-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
}

.recommended button.seemore-btn {
  cursor: pointer;
  font-style: italic;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 343px;
  background: none;
  border: 1px solid #43d29e;
  outline: none;
}

/* Footer section */
footer {
  padding: 20px 10px 50px;
  background-color: #304351;
  color: #ffffff;
}

.footer-line {
  margin: 15px 0;
  border-color: #a5a4a4;
  opacity: 0.5;
}

/* ----------------------- Desktop layout ------------------------------ */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 84px;
  }

  /* Navbar */
  header .mobile {
    display: none;
  }

  header .desktop {
    display: block;
  }

  header {
    background: none;
    max-width: 1300px;
    margin: 0 auto;
    position: absolute;
  }

  header .desktop {
    color: white;
  }

  header .desktop strong {
    font-size: 24px;
  }

  .search-bar {
    height: 40px;
    width: 200px;
    background: none;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e3e8f0;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 20px;
    color: white;
  }
  .search-bar::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(185, 185, 185);
    opacity: 1; /* Firefox */
  }
  .search-bar:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(185, 185, 185);
  }
  .search-bar::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(185, 185, 185);
  }

  .search-bar-btn {
    cursor: pointer;
    color: white;
    height: 40px;
    width: 40px;
    background-color: #43d29e;
    border: 1px solid #e3e8f0;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  a.sign-in,
  a.sign-up {
    display: inline-block;
    font-style: italic;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 5px;
  }

  a.sign-in {
    color: white;
    background-color: #43d29e;
    margin-right: 10px;
  }

  a.sign-up {
    color: #bbbbbb;
    background: none;
    border: 1px solid #43d29e;
  }

  /* Title section */
  .title-section {
    height: 787px;
  }

  .description,
  .feature-article {
    width: 100%;
    max-width: 1175px;
    margin-left: auto;
    margin-right: auto;
  }

  .description {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description h1,
  .description p {
    width: 520px;
  }

  .description p {
    font-size: 21px;
  }

  /* Recommended section */
  .card-wrapper {
    max-width: 1175px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .article-card.desktop {
    display: flex;
  }

  .recommended button.seemore-btn {
    width: 500px;
    border: none;
    font-size: 24px;
    font-style: italic;
    color: #43d29e;
  }

  /* Footer section */
  .footer-wrapper {
    max-width: 1175px;
    margin: 0 auto;
  }
}

/* Fallback case: show horizontal scroll bar for the width below 375px */
@media screen and (max-width: 374px) {
  body {
    width: 375px;
  }
}
